# #开始则为注释行
# 忽略掉所有文件名为 test
# test

# 忽略所有.o和.a
*.[oa]

# 例外

!test.o

#==========================================MINE
*.class
*/target/*

.vscode/*
**/node_modules/*

#----seems eclipse----
.project
.classpath
*.prefs

#---maven---
**/target/*

.gradle
build
ui

# myself
# bootstrap-4.0.0-dist
**/bootstrap-4.0.0-dist/**/*bundle.js
**/bootstrap-4.0.0-dist/**/*.map
**/bootstrap-4.0.0-dist/**/*min.*

/.vscode/

node_modules
dist
**/TypeScript/test/**/*.js*

build
bin
**/Cordova/**/test/**/*
!**/Cordova/**/test/**/www/*
