.mymodal {
    /* border: 1px solid gray; */
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 80%;
    height: 400px;
    top: 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: mymodalAnimation 1s linear 0.5s forwards;
    opacity:0;
}
@keyframes mymodalAnimation {
    0% {
        top: 0%;
        background: rgba(245, 245, 245, 0);
        opacity: 0;
    }
    100% {
        top:10%;
        background: rgba(245, 245, 245, 0.6);
        opacity:1;
    }
}