<!DOCTYPE html>
<html lang="zH">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FormTest</title>
</head>
<body>
    <div id="root">
        <h3>{{title}}</h3>
        
        <select v-model="mySelect">
            <option value="test1">test1</option>
            <option value="root2">test2</option>
            <option value="app3">test3</option>
        </select>
        You Have choosed: {{mySelect}}
        
        <br/>
        <select v-model="mySelect2" multiple @blur="validate('mySelect2')">
            <option value="test1">test1</option>
            <option value="root2">test2</option>
            <option value="app3">test3</option>
        </select>
        You Have choosed: {{mySelect2}}
    </div>
    <script src="../../../../00test/resource/vue.js"></script>
    <script>
        let root = new Vue({
            el: "#root",
            data: {
                title: "Test About FormTest",
                mySelect: 'root2',
                mySelect2: [],
            },
            methods: {
                validate(obj) {
                    if(this[obj] !== 'app3') {
                        alert("You must choose app3")
                    }
                }
            }
        })
    </script>
</body>
</html>
